/*@font-face {font-family: Pacifica; src:url("file:///C:/Users/ingresar/Desktop/Vision%20Planetaria\Codes\Font/Pacifica.ttf");}*/
#Font{font-family: "Pacifica"}
body{background-color:black; font-family:georgia; color:white;}
               .espacio{margin:auto; padding:2.5em;}
               .MainTitulo{text-align: center; font-family: "Pacifica", georgia; font-size:2.5em;}
               .Eslogan{text-align: center; margin-top: -1.5em; margin-bottom: 1.5em; font-size: 1em; font-family: "Pacifica";}
               .EsLine{border: 0.7px solid white; border-radius: 100%; margin: auto; margin-top: -0.1em;   width: 0%;}
               .fondotitulo{width: 40%; transition: 0.3s; margin: auto;}
               .fondotitulo:hover{width: 80%;}
               .fondotitulo div{transition: 0.3s;}
               .fondotitulo:hover div{width:100%; transition: 0.3s;}
               .fondotitulo:hover div .EsLine{border: 0.7px solid white;}
               .fondotitulo:hover h1 div{width: 20%; transition: 0.3s;}
               .titulo{text-align:center;}

              ul{list-style-type: none;}
              .List-Enanos{list-style-type: initial; font-size: 15px;}
               a{text-decoration:none; display: inline; padding: 0.5em; background-color: black; color: white;border:1px solid white; border-radius: 0.3em; margin: 0px; transition: 0.3s;}
               a:hover{background-color: white; color: black; transition: 0.3s;}
               .NavBar{margin: auto; text-align: center; margin-top: 2em; margin-bottom: 2em;}
               .NavBar2{margin: auto; text-align: center; margin-bottom: 0.5em;}
               .Linked{display: inline; margin: auto; margin: 0em 0.3em;}
               .NavBar2 li{ margin: 0px;}
               .NavBar2 li a{border:0px; background-color: transparent;}
               .NavBar2 li a:hover{border:0px; background-color: white; border-radius: 0px;}
               .Linite{border: 1px solid #F0F0F0; border-radius: 100%; margin: auto; width: 50%; margin-bottom: 0.4em;}
               .Linite2{border: 1px solid #F0F0F0; border-radius: 100%; margin: auto; width: 50%; margin-top: 0.4em;}
               #Now{background-color: white; color: black;}
               #Now2{background-color: white; color: black; border-radius: 0px;}
              .Separated{width: 100%; margin: auto; padding: 0.5em;}

                  #Intro{ background-color: black; color:white; padding-bottom: 1em; text-align: center;}
               #intro p{ padding-left:12em; padding-right: 12em;}

                .line{border:1px solid white; border-radius:100%; width:30em; margin:auto;}
                .line2{border:1px solid black; border-radius:100%; width:30em; margin:auto; opacity:0.7;}
               article{border: 2px solid black; border-radius:2em; padding:5em; padding-top: 2em; margin:auto; width:70%; background-color: white; color: black; margin-bottom: 3em;}
               article:hover .line2{border:1px solid black; transition: 0.3s;}
               header{margin:auto; width: 33em;}
               header:hover{width: 80%;}
               header:hover .line2{width: 99%;}
               img{width:100%; border-radius: 2em;}
               .DivImg{width: 80%; margin:auto; border-radius: 2em; border:0px solid navy; }
